/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background: aquamarine;
  font-family: sans-serif;
}
p {
   margin: 0 0 5px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h3 {
  font-size: 80px;
  color: #f1841e;
  margin: 10px 0 0;
  margin-bottom: 20%;
  text-shadow: -3px 3px 0px #f8983f,
               -6px 6px 0px #f38925, 
               -9px 9px 0px #ee8c30;
}
.app {
  margin: 50px;
  font: 20px sans-serif;
  margin-left: 45%;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}

.btnBack {
  border: none;
  font-size: 50px;
  color: black;
  background-color: aquamarine;
}

.username , .password , .name , .login , .email , .add_title , .add_body{
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  width: 250px;
  border: 1px solid rgba(0, 89, 181, 0.82);
  }

  .btnRegister {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff;
    background-color: #f1841e;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
  }

  .btnRegister:hover {
    background-color: #f09d03
  }

  .btnRegister:disabled {
    background: #CCC;
    color: #999;
    }

.btnAuth {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  margin-left: 70px;
  line-height: 36px;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
.btnAuth:hover {
  background-color: #6d8cb0
}
.btnAuth:disabled {
  background: #CCC;
  color: #999;
  }

.btnAddNote {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  margin-left: 15px;
  font-size: 16px;
  outline: 0;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ce452d;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btnAddNote:hover {
  background-color: #e2381a
}

.btnAddNote:disabled {
  background: #CCC;
  color: #999;
  }


  .btnMyNotes {
    border: none;
  border-radius: 20px;
  margin-top: 5px;
  display: inline-block;
  height: 36px;
  margin-left: 40px;
  font-size: 16px;
  outline: 0;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: coral;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  } 

  .btnMyNotes:hover {
    background-color: rgb(252, 117, 67)
  }

.body{
  display: block;
    background: #FFF;
    width: 270px;
    border-radius: 10px;
    border: 1px solid rgba(140, 165, 190, 0.82);
    height: 150px;
    font-size: 20px;
    color: black;
    border: 1px solid rgba(0, 89, 181, 0.82);
    box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
    padding: 3px 5px;
}
.title {
    text-shadow: black;
    color: red;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
}
.btnRemove {
  border: none;
  border-radius: 20px;
  display: inline-block;
  height: 36px;
  margin-right: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  outline: 0;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: crimson;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btnEdit {
  border: none;
  border-radius: 20px;
  display: inline-block;
  height: 36px;
  font-size: 14px;
  margin-bottom: 10px;
  outline: 0;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: darkgreen;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btnSaveTask {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  font-size: 16px;
  outline: 0;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ce452d;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btnSaveTask:disabled {
  background: #CCC;
  color: #999;
  }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-left: 255px;
  box-shadow: 2px 2px 5px -1px rgb(3, 4, 5);
  border: 1px solid rgba(0, 89, 181, 0.82);
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
